<div class="container">
  <div class="todo-form">
    <p><strong>To do List - Angular</strong></p>
    <form
      class="todo-input-wrapper"
      #form="ngForm"
      (ngSubmit)="addTodo(form, todoInput)"
    >
      <input
        type="text"
        class="todo-input"
        name="todoInput"
        placeholder="Adicione sua atividade"
        ngModel
        autofocus
        #todoInput
      />
      <button type="submit" [disabled]="!todoInput.value" class="btn-add">
        Adicionar
      </button>
    </form>
  </div>
  <div class="todo-list">
    <div class="todo-item" *ngFor="let todo of todos; let i = index">
      <textarea
        class="todo-input todo-edit"
        name="todoEdit"
        [readonly]="!todo.onEdit"
        [value]="todo.value"
        appAutoresize
        #tarea
      ></textarea>
      <div class="buttons">
        <ng-template [ngIf]="!todo.onEdit">
          <button class="btn-actions" (click)="editTodo(i)">
            <mat-icon class="icon">edit</mat-icon>
          </button>
          <button class="btn-actions" (click)="deleteTodo(i)">
            <mat-icon class="icon">delete_forever</mat-icon>
          </button>
        </ng-template>
        <ng-template [ngIf]="todo.onEdit">
          <button
            class="btn-actions confirm"
            (click)="confirmEdit(tarea.value, i)"
          >
            <mat-icon class="icon">done_outline</mat-icon>
          </button>
          <button class="btn-actions clear" (click)="cancelEdit(tarea, i)">
            <mat-icon class="icon">clear</mat-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
