<div class="container">
  <div class="todo-form">
    <p><strong>To do List - Angular</strong></p>
    <form
      class="todo-input-wrapper"
      #form="ngForm"
      (ngSubmit)="addTodo(form, todoInput)"
    >
      <input
        type="text"
        class="todo-input"
        name="todoInput"
        placeholder="Adicione sua atividade"
        ngModel
        autofocus
        #todoInput
      />
      <button type="submit" [disabled]="!todoInput.value" class="btn-add">
        Adicionar
      </button>
    </form>
  </div>
  <div class="todo-list">
    <div class="todo-item" *ngFor="let todo of todos; let i = index">
      <textarea
        class="todo-input todo-edit"
        name="todoEdit"
        [readonly]="!todo.onEdit"
        [value]="todo.value"
        appAutoresize
        #tarea
      ></textarea>
      <div class="buttons">
        <button class="btn-actions" (click)="editTodo(i)" *ngIf="!todo.onEdit">
          <mat-icon class="icon">edit</mat-icon>
        </button>
        <button
          class="btn-actions"
          (click)="deleteTodo(i)"
          *ngIf="!todo.onEdit"
        >
          <mat-icon class="icon">delete_forever</mat-icon>
        </button>
        <button
          class="btn-actions"
          *ngIf="todo.onEdit"
          (click)="confirmEdit(tarea.value, i)"
        >
          <mat-icon class="icon">done_outline</mat-icon>
        </button>
        <button
          class="btn-actions"
          (click)="cancelEdit(tarea, i)"
          *ngIf="todo.onEdit"
        >
          <mat-icon class="icon">clear</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
